.about-section {
    padding: 10%;
    background-color: #DFE4EC;
    color: #1A2943;
    display: flex;
}

.about-section img {
    width: 50%;
    height: 100%;
    border-radius: 5%;
    margin-right: 5%;
}

.about-text {
    width: auto;
    text-align: left;
}

.about-header {
    display: flex;
    justify-content: space-between;
}

.about-text h1 {
    font-weight: bold;
    text-align: left;
    flex: 1;
    color: black
}

.about-text h2 {
    margin-top: 1rem;
    font-weight: normal;
}

.about-text p {
    margin-top: 0.5rem;
    line-height: 1.25rem;
    font-size: larger;
    text-align: justify;
    display: none;
}

#about-toggle {
    text-align: center;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .about-section {
        flex-direction: column;
        align-items: center;
        padding: 5%;
    }

    .about-section img {
        width: 50%;
        height: auto;
        margin-right: 0;
    }

    .about-text {
        width: 100%;
        margin-top: 1rem;
    }

    .about-text h1 {
        text-align: center;
    }
}