.contact-section {
    height: 100vh;
    background-color: #1A2943;
    align-items: center;
    padding: 10vh;
}

.contact-section form {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.contact-section form h2 {
    text-align: left;
    font-family: sans-serif;
    color: white;
}

.contact-input {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    outline: none;
}

.contact-section button {
    background-color: #B4CBD9;
    font-size: larger;
    text-transform: uppercase;
    font-weight: bolder;
}