:root {
    --text-color-light: #DFE4EC;
    --light-brown: #b48450;
    --darker-brown: #624d2b;
    --light-blue: #B4CBD9;
    --dark-blue: #31425f;
    --light-yellow: #F5C66E;
    --primary-dark-blue: #1A2943;
    --secondary-dark-blue: #2B4062;
    --off-white: #DFE4EC;
    --primary-light-blue: #304A6E;
    --secondary-light-blue: #B4CBD9;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}